/* UTILITY */
.c-white{
  color: #fff;
}

.c-blue{
  color: #036fff;
}

.c-dark-blue{
  color: #051e50;
}

.c-light-blue{
  color: #00bacb;
}

.c-dark-grey{
  color: #8791a9;
}

.f-bolder{
  font-weight: bolder;
}

.c-light-grey{
  color:#aebbe2;
}



.b-white{
  background: #fff;
}

.b-grey{
  background: #f3f5f9;
}

.b-blue{
  background: #031c4e;
}

.bgradient-blue{
  background-image: linear-gradient(#0041ba, #00209b);
}

.m-b-20{
  margin-bottom: 20px;
}

.m-tb-20{
  margin: 20px 0;
}

.p-t-20{
  padding-top: 20px;
}

.p-b-20{
  padding-bottom: 20px;
}

.p-tb-10{
  padding: 10px 0;
}

.b-b-white{
  border-bottom: 1px solid white;
}
/* /UTILITY */

.ts-nav{
  height: 60px;
  line-height: 60px;
}

.logo img{
  height: 20px;
  vertical-align: middle;
}

.ts-nav-list ul, .ts-nav-list ul li{
  display: inline-block;
}

 .ts-nav-list ul li{
   padding: 0 5px;
 }

 .ts-nav-list ul li a{
  text-decoration: none;
  color: #051e50;
 }

#ts-sign-up{
  border: 1px solid #036fff;
  padding: 5px;
  border-radius: 5px;
  color: #036fff;
}








.ts-jumbotron{
  background-image: url("../img/sfondo-pesci.svg");
  background-size: cover;
  background-position: bottom;
  padding: 30px 0;
}

.ts-jumbotron h2{
  font-size: 30px;
}

.ts-jumbotron .ts-big-span{
  font-size: 18px;
}




.ts-get-started{
  padding: 20px 0;
  border-radius: 6px;
}



.ts-get-started input{
  width: 90%;
  height: 40px;
  border-radius: 5px;
  margin: 2px 0;
  border: 1px solid #ccc;
  font-size: 13px;
}

.ts-btn-blue{
  background: #579aff;
}




.ts-btn-google{
  background-image: url("../img/google-logo.png");
  background-size: contain;
  background-repeat: no-repeat;
}

.ts-trust{
  padding: 40px 0;
}

.ts-trust h5{
  margin-bottom: 40px;
}

.ts-trust img{
  margin: 20px 0;
  width: 100%;
  vertical-align: middle;
}

.ts-list-deploy{
  border-left: 1px solid #ccc;
  padding-left: 10px;
  margin-left: 60px; /*da mettere in media query*/
}

.ts-drop{
  padding: 30px 0;
}

.ts-drop img{
  width: 50%;
  margin-top: 100px;
}

.ts-empty{
  width: 10px;
  height: 10px;
  border: 1px solid #036fff;
  display: inline-block;
  border-radius: 50%;
}

.ts-empty:hover{
  background: #036fff;
}

.ts-droplets-img::after{
  content: ">";
}

.ts-droplets-img::before{
  content: "<";
}

.ts-rocker-box img{
  width: 50%;
}











/* MEDIA QUERY TABLET */

@media screen and (min-width: 768px) {
  .ts-box{
    min-height: 200px;
  }
}
/* /MEDIA QUERY TABLET */
