.c-white{
  color: #fff;
}

.c-blue{
  color: #036fff;
}

.c-dark-blue{
  color: #253a65;
}

.b-white{
  background: #fff;
}

.b-grey{
  background: #f3f5f9;
}

.ts-nav{
  height: 60px;
  line-height: 60px;
}

.logo img{
  height: 20px;
  vertical-align: middle;
}

.ts-nav-list ul, .ts-nav-list ul li{
  display: inline-block;
}

 .ts-nav-list ul li{
   padding: 0 5px;
 }

 .ts-nav-list ul li a{
  text-decoration: none;
  color: #253a65;
 }

#ts-sign-up{
  border: 1px solid #036fff;
  padding: 5px;
  border-radius: 5px;
}

.ts-jumbotron{
  background-image: url("../img/sfondo-pesci.svg");
  background-size: cover;
  background-position: bottom;
  padding: 30px 0;
}

.ts-jumbotron h2{
  font-size: 30px;
  font-weight: bolder;
}

.ts-jumbotron .ts-big-span{
  font-size: 18px;
  font-weight: bolder;
}

.ts-get-started{
  padding: 20px 0;
  border-radius: 6px;
}

.ts-get-started span:first-child{
  color: #253a65;
}

.ts-get-started input{
  width: 90%;
  height: 40px;
  border-radius: 5px;
  margin: 2px 0;
  border: 1px solid #ccc;
  font-size: 13px;
}

.ts-btn-blue{
  background: #579aff;
}

.ts-btn-google{
  background-image: url("../img/google-logo.png");
  background-size: contain;
  background-repeat: no-repeat;
}

.ts-trust{
  padding: 40px 0;
}

.ts-trust h5{
  margin-bottom: 40px;
  color: #8791a9;
  font-weight: bolder;
}

.ts-trust img{
  margin: 20px 0;
  width: 100%;
  vertical-align: middle;
}

.ts-drop{
  padding: 30px 0;
}

.ts-drop img{
  width: 50%;
  margin-top: 100px;
}

.ts-drop .ts-empty{
  width: 10px;
  height: 10px;
  border: 1px solid #036fff;
  display: inline-block;
  border-radius: 50%;
  margin-top: 40px;
}

.ts-drop .ts-empty:hover{
  background: #036fff;
}

.ts-droplets-img::after{
  content: ">";
}

.ts-droplets-img::before{
  content: "<";
}
