.c-white{
  color: #fff;
}

.c-blue{
  color: #036fff;
}

.b-white{
  background: #fff;
}

.ts-nav{
  height: 60px;
  line-height: 60px;
}

.logo img{
  height: 20px;
  vertical-align: middle;
}

.ts-nav-list ul, .ts-nav-list ul li{
  display: inline-block;
}

 .ts-nav-list ul li{
   padding: 0 5px;
 }

 .ts-nav-list ul li a{
  text-decoration: none;
  color: #253a65;
 }

#ts-sign-up{
  border: 1px solid #036fff;
  padding: 5px;
  border-radius: 5px;
}

.ts-jumbotron{
  background-image: url("../img/sfondo-pesci.svg");
  background-size: cover;
  background-position: bottom;
  padding: 30px 0;
}

.ts-jumbotron h2{
  font-size: 30px;
  font-weight: bolder;
}

.ts-jumbotron .ts-big-span{
  font-size: 18px;
  font-weight: bolder;
}

.ts-get-started{
  padding: 20px 0;
  border-radius: 6px;
}

.ts-get-started span:first-child{
  color: #253a65;
}

.ts-get-started input{
  width: 90%;
  height: 40px;
  border-radius: 5px;
  margin: 2px 0;
  border: 1px solid #ccc;
  font-size: 13px;
}

.ts-btn-blue{
  background: #579aff;
}

.ts-btn-google{
  background-image: url("../img/google-logo.png");
  background-size: contain;
  background-repeat: no-repeat;
}
